$primary:#4351E8;
$secondary:#181B38;
$netral:#ffffff;
$text:#3F4358;
$subtitle: #98A2B8;
$dark: black;
$shadow: rgb(56, 55, 55);
$bgdanger: #f53c5b;
$bgsuccess:#0ba360;
$bginfo:#00cccc;
$bgwarning: #ffc107;
