body {
  margin: 0;
  padding: 0;
  font-family: $defaultfont;
  background-color: #e9e7f7;
}

$width: 1200;
$column: 12;

.container {
  max-width: $width * 1px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $j from 1 through $column {
  .col#{$j} {
    width: calc((100% / ($column / $j)) - 3%);
    margin: 1.5%;
  }
}

.ai-center {
  align-items: center;
}
.jc-sbetween {
  justify-content: space-between;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.text-center {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  @for $j from 1 through $column {
    .col#{$j}-desktop {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }
  }
}
@media screen and (max-width: 980px) {
  @for $j from 1 through $column {
    .col#{$j}-laptop {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }
    .wrap-l{
      display: flex;
      flex-wrap: wrap;
    }
    .l-jcbetween{
      justify-content: space-between;
    }
  }
}
@media screen and (max-width: 800px) {
  @for $j from 1 through $column {
    .col#{$j}-medium {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }
    

  }
}
@media screen and (max-width: 730px) {
  @for $j from 1 through $column {
    .col#{$j}-tablet {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }

    .land-reverse {
      flex-direction: column-reverse;
    }
  }
}
@media screen and (max-width: 650px) {
  @for $j from 1 through $column {
    .col#{$j}-tabletSmall {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }
    .ts-wrap{
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 530px) {
  @for $j from 1 through $column {
    .col#{$j}-landscape {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }
    .land-none{
      display: none;
    }
  }
}

@media screen and (max-width: 470px) {
  @for $j from 1 through $column {
    .col#{$j}-mobile {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }
  }
}

@media screen and (max-width: 400px) {
  @for $j from 1 through $column {
    .col#{$j}-small {
      width: calc((100% / ($column / $j)) - 3%);
      margin: 1.5%;
    }
  }
}
